<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <div class="title has-text-primary">
                Lists
            </div>

            <div class="list-menu">
                <a href="" class="list-menu-item is-active">
                    List #1
                </a>
                <a href="" class="list-menu-item">
                    List #2
                </a>
                <a href="" class="list-menu-item">
                    List #3
                </a>
            </div>

            <button class="button is-primary has-text-white">+ New List</button>
        </div>

        <div class="tasks-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            
            <div class="task">
                <p>To do #1</p>
            </div>
            <div class="task">
                <p>To do #2</p>
            </div>
            <div class="task">
                <p>To do #3</p>
            </div>
            <div class="task">
                <p>To do #4</p>
            </div>
            <div class="task">
                <p>To do #5</p>
            </div>
            <div class="task">
                <p>To do #6</p>
            </div>
            <div class="task complete">
                <p>To do #7</p>
            </div>
        </div>
    </div>
</div>